.dynamic-string {
    font-style: italic;
}

.selected {
    background-color: rgba(234, 241, 248, 0.911);
}

.caret {
    animation: blink-animation 2s steps(5, start) infinite;
}


@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}