
@media all and (max-width: 907px) {

    .author-img img {
        max-width: none;
    }

    .about-author nav ul li {
        padding: 0.2rem;
    }

    .social-links li {
        margin-right: 0.7rem ;
    }

}

@media all and (max-width: 777px) {
    .author-img {
        display: inline-grid;
        text-align: center;
    }

    .author-img-caption {
        padding: 0;
        margin: 0;
        display: unset;
    }
}

@media all and (max-width: 700px) {
    .main-header{
        flex-direction: column;
    }

    .author-img img {
        width: 100%;
    }

    .author-img-caption {
        padding: 2rem;
        font-size: 1.5rem;
    }

    .social-links li {
        margin-right: 0.4rem;
    }
}


@media all and (max-width: 604px) {

    .nav-social {
        padding-right: 2rem;
    }
    .author-name-social{
        display: grid;
    }

    .social-links li {
        margin-right: 0.4rem ;
    }

}